################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PasswordGen/obj
/PasswordGen/.vs/PasswordGen/v15
/.vs
/PasswordGen/.vs/config
/PasswordGen/bin/Debug
/PasswordGen/.vs/PasswordGen
/PasswordGen/MigrationBackup/a8e96038/PasswordGen
/PasswordGen2/bin/Debug/net6.0
/PasswordGen2/obj
